*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;;
}
p{
    font-size: 20px;
}
h2{
    font-size: 30px;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DAD2D8;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 186, 239);
}
.logo-header{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 100%;
}
header h1{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
nav{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .items{
    color: white;
}
#contenidos{
    width: 100%;
}
#objetivo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.objetivo-contenido{
    width: 90%;
    display: flex;
    padding: 20px;
    margin-top: 20px;
}
.objetivo-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.objetivo-titulo{
    margin-bottom: 20px;
    color: #0B4F6C;
}
.objetivo-imagen{
    width: 300px;
}
#ensalada-de-papa{
    background-color: #A5F8D3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.ensalada-de-papa-contenido{
   width: 90%;
}
.ensalada-de-papa-titulo{
    font-size: 30px;
    color: #0B4F6C;
    margin-top: 20px;
}
.ensaladaDePapa-info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.ensaladaDePapa-info1-ingredientes-titulo, .ensaladaDePapa-info2-preparacion-titulo{
    font-size: 26px;
    color: #A5243D;
}
.ensaladaDePapa-info1-ingredientes-lista{
    list-style: none;
    margin-top: 5px;
}
.ensaladaDePapa-info1-ingredientes-lista-items{
    font-size: 20px;
}
.ensaladaDePapa-info1-ingredientes-imagen{
    width: 300px;

}
.ensaladaDePapa-info2{
    padding: 20px;
}
.ensaladaDePapa-info2-preparacion{
    margin-top: 5px;
}
footer{
    border: 2px solid black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
